<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.theustech.blindcheck_interactor.TrackingAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/tracking_accessibility_service" />
        </service>

        <receiver
            android:name="com.theustech.blindcheck_interactor.RemoteActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.theustech.blindcheck.ACTION_NEXT" />
                <action android:name="com.theustech.blindcheck.ACTION_PREVIOUS" />
                <action android:name="com.theustech.blindcheck.ACTION_ACTIVATE" />
                <action android:name="com.theustech.blindcheck.ACTION_BACK" />
                <action android:name="com.theustech.blindcheck.ACTION_SCROLL_FORWARD" />
                <action android:name="com.theustech.blindcheck.ACTION_SCROLL_BACKWARD" />
                <action android:name="com.theustech.blindcheck.ACTION_HOME" />
                <action android:name="com.theustech.blindcheck.ACTION_RECENTS" />
                <action android:name="com.theustech.blindcheck.ACTION_SWIPE_UP" />
                <action android:name="com.theustech.blindcheck.ACTION_SWIPE_DOWN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
